<table>
<% @cards.each do |card| %>
<% if card.nil? then %>
<tr colspan="2">There are no elements in the collection</tr>
<% else %>
<tr>
<td>Name: <%=card.name%></td>
<td>Copies: 
<% if card.inventory.nil? then %>
0
<% else %>
<%=card.inventory.copies%>
<% end %>
</td>
</tr>
<% end %>
<% end %>
</table>

<%= link_to 'New card', new_card_path %>
