<html>
<body>
<table col="2">
<% @cards.each do |card| %>
<% if card.nil? then %>
<td colspan="2">There are no elements in the collection</td>
<% else %>
<td>
<tr>Name: <%=card.name%></tr>
<tr>Copies: 
<% if card.inventory.nil? then %>
0
<% else %>
<%=card.inventory.copies%>
<% end %>
</tr>
</td>
<% end %>
<% end %>
</table>
</body>
</html>
